.header {
  background-color: #1c1c21;
  display: flex;
  justify-content: center;
}

.content {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: start;
  max-width: 1280px;
}

.navigation {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo {
  display: flex;
  justify-self: center;
}

.profile {
  justify-self: end;
}