.link {
  background-color: transparent;
  color: #8585AD;
  cursor: pointer;
  display: flex;
  margin: 0;
  text-decoration: none;
  transition: color .25s ease, opacity .25s ease, transform .25s ease;
}

.link:hover {
  opacity: .8;
}

.link:focus {
  /*transform: scale(1.1); */
  opacity: .8;
  color: #F2F2F3;
}

